/* ---------------------reset css---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  ;
}

.body {
  font-size: 1.6rem;
}

/* ------------------------------------------------ */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ---------------------------navigation----------------------------*/
.nav {
  background-color: black;
  display: flex;
  padding: 0 18.5rem;
  align-items: center;
  justify-content: space-between;
  height: auto;

}

.nav-container {
  max-width: 1320px;
  display: flex;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  /* xóa dấu chấm của ul/li */
  list-style-type: none;
  align-items: center;
}

.menu-list-item {}

.menu-list-item-link {
  display: block;
  text-decoration: none;
  font-size: 2.6rem;
  color: white;
  padding: 1rem 3.5rem;
  transition: 0.5s;
}

.menu-list-item-link:hover {
  color: red;
  transition: 0.5s;
}

.active {
  background-color: rgb(129, 129, 240);
}

.switch-mode {
  text-decoration: none;
  font-size: 2.6rem;
}

/* ---------------------------------------------------------------- */



/* -----------------------------Players---------------------------- */
.container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*fr: fraction*/
  gap: 2rem;
  padding: 2.5rem 0.5rem;
  margin: 0 3.5rem;
}

/* ---------------------------------------------------------------- */

/* ----------------------------film/player------------------------  */
.film-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*fr: fraction*/
  gap: 10rem 5rem;
  padding: 5rem 15rem;
}

.card {
  background-color: rgb(207, 205, 197);
}

.film-card {
  height: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(189, 163, 187);
  box-shadow: 7px 7px 1px #acadaf;
  transition: 0.4s;
}

.card h3 {
  font-style: bold;
}

/* player img */
.card-img img {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}

/* film img */
.film-card-img img {
  /* border: 1px solid black; */
  float: left;
  width: 100%;
  height: 60rem;
  object-fit: fill;
}

.film-content-item {
  display: block;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
}

.card-btn button {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

hr.hr-content {
  border: 1px solid rgb(137, 134, 134);
}


/* ----------------------------------------------------- */


/* ------------------------footer----------------------- */
.footer {
  height: auto;
  padding: 2rem;
}

.footer-item {
  background-color: black;
  color: white;
  font-size: 4rem;

}

/* ----------------------------------------------------- */


/* ------------------------popup/overlay---------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.film-popup {
  display: block;
  margin: 0 auto;
  padding: 2rem 4rem;
  background: rgb(105, 105, 105);
  border-radius: 3rem;
  width: 45%;
  height: 90%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow-y: scroll;
}

.film-popup img {
  height: 600px;
  width: 60%;
}

.film-popup h2 {
  color: #333;
  font-family: Tahoma,
    Arial,
    sans-serif;
}

.film-popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 5.5rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(157, 153, 153);
}

.film-popup .close:hover {
  color: red;
}

.film-popup .content {
  display: block;
  text-align: center;
  max-height: 70%;
  font-size: 1.5rem;
  overflow: visible;
}

/* ----------------------------------------------------------------------- */


/* ------------------------------responsive------------------------------- */

@media screen and (max-width: 1023px) {
  .film-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .film-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------- */

/* -----------------------------------film detail------------------------------------ */
.film-detail-container {
  margin: 3rem 20rem 5rem 20rem;
}

.product-card {
  font-size: 2rem;
  background-color: rgb(183, 182, 182);
  border-radius: 1rem;
  padding-bottom: 2.5rem;
}

.title {
  position: absolute;
  font-size: 3rem;
  background-color: red;
  color: white;
  padding: 1rem;
  margin: 2rem 0;
}

.product-tumb img {
  width: 50%;
  height: auto;
}

.product-details {
  padding: 3rem;
  text-align: justify;
  background-color: #FAFAFA;
  margin: 1rem 2rem 0 2rem;
  border-radius: 2rem;
}

.product-details h3 {
  padding-bottom: 1.5rem 0;
}

.product-title {
  font-size: 3rem;
  padding: 2.5rem 0;
  color: rgb(240, 224, 45);
}


/* --------------CONTACT------------ */
/* CONTACT */

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.contact-body {
  padding: 2rem;
  background: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-card {
  background: #868990;
  padding: 0 20px;
  margin: 3rem;
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2.5rem;
}

.contact-card-icon {
  font-size: 5rem;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.contact-card img {
  width: 100px;
  height: 90px;
}

.contact-card:hover .contact-card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.contact-card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.contact-card:hover p {
  max-height: 40px;
  opacity: 1;
}

/* --------------------------------- */


.icon {
  font-size: 8rem;
  color: rgb(204, 244, 227);
}